<header>
  <a href="/"><img src="/images/bamboo-xs.png" id="bamboo" /></a>
  <h1 id="blogname"><a href="/">{{ globalConfig.siteName }}</a></h1>

  <div class="input-group" id="header-search-bar">
    <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
    <input type="text" class="form-control" placeholder="输入关键词按回车搜索..." aria-describedby="basic-addon1">
  </div>
  <div class="clearfix"></div>
</header>