<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/bower/vue/dist/vue.min.js"></script>
  <script src="/bower/jquery/dist/jquery.min.js"></script>
  <script src="/scripts/xvalidation.js"></script>
  <script src="/scripts/vue-components.js"></script>
</head>
<body>
  <div id="body-box">
    {{> _header}}
    <div id="middle">
      {{{body}}}
    </div>
    <!--end #middle-->
    {{> _footer}}
  </div>
</body>

</html>