<div class="panel panel-default">
  <div class="panel-heading"><i class="fa fa-commenting"></i> 发表评论</div>
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">名称</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="您的姓名，或者网名">
          <p class="t-gray" style="padding: 0;margin: 0;padding-top: 5px;">
            名称可选，建议留下名称，好让大家认识你，对不对？
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Email">
          <p style="padding: 0;margin: 0; padding-top: 5px;">
            <label>
          <input type="checkbox" checked> 保密
        </label>
            <span class="t-gray mr20">（保密的话只有博主才能看到您的Email）</span>

            <label>
          <input type="checkbox" checked> 回复我的评论时发邮件给我
        </label>
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">* 内容</label>
        <div class="col-sm-10">
          <textarea name="" class="form-control" style="height:150px;"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">发送评论</button>
        </div>
      </div>
    </form>

  </div>
</div>