<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/font-awesome/css/font-awesome.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <div id="body-box">
    {{> header}}
    <div id="middle">
      {{> breadcrumb }}
      <div id="content">
        <article class="article-item">
          <div class="title-box">
            <p class="title"><a href="#">函数式编程入门教程</a></p>
            <div class="post-info-box">
              <span class="post-info">
                <span><i class="glyphicon glyphicon-user"></i> 竹子</span>
              <span><i class="glyphicon glyphicon-time"></i> 2017/02-01</span>
              <span><i class="glyphicon glyphicon-comment"></i> 63</span>
              </span>
              <span class="tag"><i class="glyphicon glyphicon-tag"></i><a href="#"> node</a></span>
            </div>
          </div>
          <div class="summary">
            你可能听说过函数式编程（Functional programming），甚至已经可能听说过函数式编程（Functional programming），甚至已经可能听说过函数式编程（Functional programming），甚至已经可能听说过函数式编程（Functional
            programming），甚至已经可能听说过函数式编程（Functional programming），甚至已经可能听说过函数式编程（Functional programming），甚至已经可能听说过函数式编程（Functional
            programming），甚至已经可能听说过函数式编程（Functional programming），甚至已经可能听说过函数式编程（Functional programming），甚至已经可能听说过函数式编程（Functional
            programming），甚至已经使用了一段时间。
            <br>你可能听说过函数式编程（Functional programming），甚至已间。
            <br>你可能听说过函数式编程（Functional programming），甚至ng），甚至ng），甚至已间。
          </div>

        </article>
        <div class="next-article">
          <p>本篇文章阅读完毕</p>
          <a href="#" class="pull-left">&laquo; 上一篇</a>
          <a href="#" class="pull-right">下一篇 &raquo;</a>
          <div class="clearfix"></div>
        </div>
        {{> doc_info }}
        <div class="article-list">
          <p class="title-1-bd"><i class="fa fa-link"></i> <span>node.js</span>分类下的其它文章</p>
          <ul class="list">
            <li>
              <span class="mr10">2017/01-25</span>
              <a href="#">Redux 入门教程（二）：中间件与异步操作</a>
            </li>
            <li>
              <span class="mr10">2017/01-25</span>
              <a href="#">Redux 入门教程（二）：中间件与异步操作</a>
            </li>
            <li>
              <span class="mr10">2017/01-25</span>
              <a href="#">Redux 入门教程（二）：中间件与异步操作</a>
            </li>
            <li><a href="#">所有文章 (共96,234篇) &raquo;</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      {{> reviews }}
      {{> review_form}}
      <!--end #content-->
    </div>
    <!--end #middle-->
    {{> footer}}
  </div>
</body>

</html>