<div id="right">
  {{> _blog_summary}}
  <div class="clearfix"></div>
</div>
<div id="content" class="homepage-content">
  {{#articles}} {{> _article_item}} {{/articles}}

  <div class="article-list">
    <p class="title-1-bd">最近文章</p>
    <ul class="list">
      {{#newArticles}}
      <li>
        <span class="mr10">{{createdTime}}</span>
        <a href="{{_url}}">{{title}}</a>
      </li>
      {{/newArticles}}
      
      <li><a href="/articles">所有文章 (共{{articleCount}}篇) &raquo;</a></li>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>
<!--end #content-->