/*tools:start*/
.t-gray{color:gray;}
.ml20{
  margin-left: 20px;
}
.ml10{
  margin-left: 10px;
}

.mr10{
  margin-right: 10px;
}

.pt5{
  padding-top: 5px;
}

/*tools:end*/

/*headline:start*/
.title-1-bd,
.title-1{
  font-size: 160%;
  line-height: 200%;
  margin-bottom: 10px;
}

.title-1-bd{
border-bottom: dotted 1px #ccc;
}
/*headline:end*/

html{
  background-color: #f5f5d5;
}
body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f5d5;
  
}

a {
  color: #00B7FF;
}

#body-box{
  max-width: 1200px;
  margin:0 auto;
  
}

header{
  border-bottom: solid 1px #ccc; margin-bottom: 10px;
  padding-bottom: 15px;
  position: relative;
}

footer{
    text-align: center;
  border-top: solid 1px #ccc;
  padding-top: 10px;
}

footer a{
  color: inherit;
  line-height: 120%;
  text-decoration: underline;
}

#blogname{
  font-weight: normal;
  font-size: 200%;
float: left;
text-shadow: -2px 2px 0 #fff;
letter-spacing: 10px;
margin-left: 90px;
}

#header-search-bar{
  margin-top: 20px;
  width: 300px;
  float: right;
}

#bamboo{
  position: absolute;
  width: 110px;
left: -30px;
}

#middle{
  padding-top: 10px;
  margin-bottom: 20px;
}
#right{
  float:right;
  width: 300px;
}

#content{
  margin-bottom: 15px;
}

.homepage-content{
  padding-right: 320px;
}

/*摘要盒子*/
.summary-box{
  background-color: #deebf7;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: -1px 1px 2px #aaa;
}

.summary-box a{
  color: inherit;
}

.summary-box .title{
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: dotted 1px #ccc;
  line-height: 200%;
}

.list{
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 160%;
}

.list li{
  background: url(../images/bg.png) no-repeat  -835px 0;
  padding-left: 20px;
}

.article-item{
  margin-bottom: 15px;
}

.article-item:hover{
   
}

.article-item .title-box{
  margin-bottom: 10px;
  border-bottom: dotted 1px #ccc;
  padding-bottom: 10px;
}

.article-item .title-box .title{
  font-size: 140%;
}

.post-info{
  float: right;
  color: gray;
}
.post-info span
{
 margin-left: 10px;
}

.article-item .title-box .tag a{
  color: orange;
}

.article-item .summary{
  line-height: 180%;
  margin-bottom: 10px;
}

.article-item .open-article{
  font-size: 140%;
  
}

.article-item .open-article a{
color: green;
}

.next-article{
  background-color: #deebf7;
  padding: 10px;
  border-radius: 5px;  
  margin-bottom: 15px;
}